/* ---------- Backend ---------- */

@media only screen and (max-width: 800px) {
  .hide-on-mobile,
  .faktura-left-golden-btn {
    display: none;
  }
}

#backend-top {
  margin: 40px auto;
  width: 88%;
}

#backend-search {
  height: 50px;
  border: 3px solid rgb(61, 61, 61);
  font-size: 20px;
  margin-top: 0px;
}

#backend-logout {
  float: right;
  margin-top: -30px;
  margin-right: -80px;
}

#backend-statistik {
  float: right;
  margin-top: -30px;
  margin-right: 20px;
}

#backend-top input[type="submit"] {
  width: 100px;
  height: 50px;
  border: 3px solid rgb(61, 61, 61);
  font-weight: bold;
  vertical-align: top;
}
#backend-top input[type="submit"]:hover {
  background: #a48745;
}

.order-row {
  display: flex;
  text-align: center;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.order-column,
.order-column-maxwidth {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
}

.order-input-field,
.order-input-field-maxwidth {
  max-width: 170px;
  height: 70px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  resize: none;
}

.order-input-field-maxwidth {
  max-width: 90px;
}

.faktura-left-golden-btn {
  margin-top: -10px;
  position: relative;
  z-index: 1000;
}

input[type="text"] {
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}

.backend-button {
  width: 240px;
  height: 45px;
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  padding: 0px;
  border-radius: 25px;
}

#pagination-links {
  margin: 50px;
}

#pagination-links a {
  color: white;
  background-color: rgb(61, 61, 61);
  text-decoration: none;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
}

#pagination-links a:hover {
  background: #a48745;
}

hr.hr {
  border-top: 2px solid rgb(61, 61, 61);
  margin-top: 12px;
}

/* ---------- Faktura ---------- */

#faktura-container {
  width: 700px;
  text-align: left;
}

#faktura-logo {
  width: 300px;
}

#faktura-H1 {
  font-size: 50px;
  float: right;
  color: #000;
  margin-top: -10px;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

.faktura-underline-tr {
  border-bottom: 3px solid #000;
  padding-bottom: 10px;
}

.faktura-produkt-td {
  width: 300px;
}

.faktura-antal-td {
  width: 300px;
}

.faktura-totalt-td {
  width: 80px;
  text-align: right;
}

/* ---------- Chart ---------- */
/* ---------- Chart ---------- */
/* ---------- Chart ---------- */

#myChart {
  width: 66% !important;
  height: 66% !important;
  margin: 20px auto;
}
