html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
}

/* ---------- Main elements ---------- */

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

h1 {
  color: #695d2d;
  text-align: center;
}

h2 {
  color: #695d2d;
  margin: 50px auto;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #695d2d;
  font-size: 14px;
  font-weight: 700;
  border: none;
  height: 40px;
  color: #fff;
  padding: 25px 30px;
  margin: 0 auto;
  text-decoration: none;
}

button:hover {
  background: #a48745;
  cursor: pointer;
}

.button-large {
  padding: 45px 80px;
  font-size: 22px;
  text-decoration: none;
}

.center-image {
  display: block;
  margin: 0 auto;
}

/* ---------- Header ---------- */

header {
  overflow: hidden;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 auto;
}

.logo img {
  width: 180px;
}

.menu-icon img,
.cart-icon img {
  height: 30px;
  width: 30px;
  margin: 30px;
}

#header-cart-qty-number {
  width: 18px;
  height: 18px;
  background-color: #695d2d;
  border-radius: 50%;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 17px;
}

/* ---------- Menu ---------- */

#menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.2s;
  text-align: left;
}

#menu a {
  padding: 10px 40px;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

#menu a:hover {
  color: #ccc;
}

#menu .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
}

#menu #cart-icon {
  width: 60px;
}

#menu .logo {
  margin-left: -10px;
}

/* Visa bara på desktop */
#desktop-header-cart-qty-number {
  display: none;
}

/* ---------- Containers ---------- */

#content-container {
  width: 95%;
  margin: 0 auto;
  text-align: left;
}

footer {
  width: 100%;
  height: 70px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 50px;
  background-color: #000;
  color: #fff;
  margin-bottom: 70px;
}

#offer-div {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}

/* ---------- Front page ---------- */

#image-front-container {
  width: 100%;
  margin: 0 auto;
}

#hero-image-desktop {
  display: none;
}

/* ---------- Butik ---------- */

.product-card {
  margin: 20px 30px 60px;
  text-align: center;
}

.product-title-name {
  font-weight: bold;
}

.product-card-price {
  margin: 10px auto 20px;
  text-align: center;
}

/* ---------- Varukorg ---------- */

.varukorg-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

.varukorg-column-sku {
  font-size: 16px;
  margin: 0px 30px 0px 20px;
}

.varukorg-column-qty {
  text-align: center;
}

#varukorg-sum {
  width: 200px;
  margin: -30px auto 40px;
  text-align: center;
}

/* ---------- Kassa ---------- */

#varukorg-form {
  width: 100%;
}

input[type="text"],
input[type="email"] {
  width: 66%;
  padding: 8px 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

.kassa-cart-färg-antal {
  width: 130px;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.kassa-item {
  display: flex;
  padding: 0px;
}

/* För PHP POST måste dessa vara input fields istället för divar */
.disabled-input-fields {
  /* Alla important! behövs tyvärr, orkar inte fundera ut hur slippa */
  width: 130px !important;
  height: 30px !important;
  border: none;
  font-size: 20px;
  color: #000;
  margin: 0 !important;
  padding: 0px !important;
}

#kassa-sum {
  width: 50px !important;
}

#kassa-order-details {
  text-align: center;
}

#kassa-order-details input[type="text"] {
  height: initial;
}

/* ---------- Tack ---------- */

#tack-container {
  margin: 80px 0px;
}

/* ---------- Desktop ---------- */
/* ---------- Desktop ---------- */
/* ---------- Desktop ---------- */

@media only screen and (min-width: 1000px) {
  #hero-image-mobile {
    display: none;
  }

  #hero-image-desktop {
    display: block;
  }

  #desktop-header-cart-qty-number {
    display: initial;
    width: 18px;
    height: 18px;
    background-color: #695d2d;
    border-radius: 50%;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-right: -45px;
    margin-top: -30px;
  }

  #menu {
    width: 100%;
    min-height: 70px;
    position: relative;
    margin: 0 auto;
    background-color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
  }

  header {
    display: none;
  }

  #menu .closebtn {
    display: none;
  }

  #menu a {
    display: initial;
    font-size: 18px;
    padding: 0px 20px;
    text-decoration: none;
    color: #fff;
    display: block;
  }

  #menu a:hover {
    color: #695d2d;
  }

  #menu .logo {
    margin-right: 30px;
  }

  #menu #cart-icon {
    width: 30px;
    margin-left: 30px;
  }

  #content-container {
    width: 50%;
    margin: 0 auto;
  }

  #image-front-container {
    width: 66%;
    margin: 0 auto;
  }

  .frontpic {
    width: 47%;
    margin: 1%;
    padding: 0px;
  }

  #product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .product-card {
    width: 30%;
    margin: 20px 0px 60px;
  }

  .product-title-name {
    min-height: 80px;
    font-size: 20px;
  }

  .varukorg-item {
    justify-content: space-between;
  }
}
